[Unit]
Description=InfluxTap monitors websites and pushes data into InfluxDB

[Service]
ExecStart=/usr/local/bin/influxtap --config /usr/local/etc/influxtap/config.yaml
Restart=always

[Install]
WantedBy=multi-user.target
